/* Useful global CSS styles */

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Montserrat.ttf) format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: url(./assets/Cabin.ttf) format("truetype");
}
/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Improve the typography across the site. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
