[Unit]
Description=startpage
After=network.target

[Service]
Type=simple
User=sirlarion
WorkingDirectory=/home/sirlarion/repos/startpage/backend
ExecStart=/home/sirlarion/.bun/bin/bun run index.ts
Restart=always

[Install]
WantedBy=multi-user.target
