[Unit]
Description=Start Node server for browser startpage

[Service]
Type=forking
ExecStart=/home/sirlarion/repos/startpage/scripts/startup.sh
ExecStop=/usr/bin/pkill node

[Install]
WantedBy=default.target
